{% extends "base.html" %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
{% include "nav.html" %}

<div class="container-fluid bg-dark">
    {% include "messages.html" %} 
    <h1 class="text-white"> Welcome back {{ user.first_name }}!</h1>
</div>
<div class="container bg-white border border-dark scrollable overflow-auto p-5">
    {% if error %}
    <p>
        There are no restaurants to satisfy your requirements...
        Please view <a class="alert-link" href="{% url 'settings' %}">settings</a> to widen your searches.
    </p>
    {% else %}
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-9">
                <div class="row text-center">
                    <div class="col-sm-9">
                        <h1 class="text-dark p-5">{{ restaurant_name }} 
                            <input type="hidden" name="restaurant_name" value="{{ restaurant_name }}">
                            <input type="hidden" name="restaurant_rating" value="{{ restaurant_rating }}">
                            (<i class="bi bi-star-fill" style="color: yellow;"></i> {{ restaurant_rating }})
                        </h1>
                    </div>
                </div>
                <dl class="row">
                    <dt class="col-sm-3">Address</dt>
                    <dd class="col-sm-9">
                        <p>
                            <input type="hidden" name="address" value="{{ address }}">
                            {{ address }}
                        </p>
                    </dd>
                    
                    <dt class="col-sm-3">Restaurant Type</dt>
                    <dd class="col-sm-9">
                        <input type="hidden" name="restaurant_type" value="{{ restaurant_type }}">
                        <input type="hidden" name="restaurant_price" value="{{ price_level }}">
                        <p>{{ restaurant_type }} <b class="text-success">(
                            {% if price_level == 1 %}
                                $
                            {% elif price_level == 2 %}
                                $$
                            {% elif price_level == 3 %}
                                $$$
                            {% else %}
                                Price N/A
                            {% endif %}
                            )</b></p>
                    </dd>
                    
                    <dt class="col-sm-3">Phone Number</dt>
                    <input type="hidden" name="phone_number" value="{{ phone_number }}">
                    <dd class="col-sm-9">{{ phone_number }}</dd>
                    
                    <dt class="col-sm-3">Open Now?</dt>
                    <input type="hidden" name="working_hours" value="{{ working_hours }}">
                    <dd class="col-sm-9">{{ open_now }}</dd>
                    <nav class="nav mb-2 mt-2">
                        {% if website != '?' %}
                            <a class="nav-link" href="{{ website }}">View Website</a>
                        {% endif %}
                        <a class="nav-link" href="{{ googlewebsite }}">View On Google Maps</a>
                    </nav>
                    <input type="submit" name="add" class="btn btn-rounded btn-success" style="width:300px;" value="✓">
                    <input type="submit" name="reject" class="btn btn-rounded btn-danger" style="width:300px;" value="X">
                </dl>
                
            </div>
            <div class="col-md-3">
                <img class="img-sm img-thumbnail rounded border-dark mt-2" style="width:auto; height:auto; float:right; max-width: 500px;" alt="image" src="{{ image }}">
                
                <input type="hidden" name="website" value="{{ googlewebsite }}">
            </div>
        </div>
    </form>
    {% endif %}
</div>

</div>

{% else %}
    <div class="alert alert-danger">
        You are not logged in, please <a class="alert-link" href="{% url 'login' %}">login</a>.
    </div>
{% endif %}


{% endblock %}