{% extends  "base.html" %}

{% block title %}
<title>Saved Restaurants</title>
{% endblock %}

{% block body %}
{% include "nav.html" %}
<div class="container-fluid bg-dark text-white pb-3">
    <h1>Saved Restaurants</h1>
    <div class="border border-white p-3">
        <div class="row text-center">
        <div class="col-sm-3">
            Restaurant Name
            <i class="bi bi-brightness-low-fill"></i>
        </div>
        <div class="col-sm-3">
            Address
            <i class="bi bi-search"></i>
        </div>
        <div class="col-sm-3">
            Delete 
            <i class="bi bi-trash3-fill"></i>
        </div>
        <div class="col-sm-3">
            View More
            <i class="bi bi-question-circle-fill"></i>
        </div>
        </div>
    </div>
    <div class="border border-white p-3">
        <div class="row text-center">
        <div class="col-sm-3">McDonald's</div>
        <div class="col-sm-3">340 Peninsula Blvd, Hempstead, NY 11550</div>
        <div class="col-sm-3">
            <form method="post">
                {% csrf_token %}
                <input type="submit" class="btn btn-md btn-danger btn-rounded" style="width:200px;" name="12321321" value="X">
            </form>
        </div>
        <div class="col-sm-3">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-md btn-primary"  style="width:200px;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="bi bi-question-circle-fill"></i>  
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-dark" id="exampleModalLabel">McDonalds</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-dark">
                                <dl class="row">
                                    <dt class="col-sm-3">Rating</dt>
                                    <dd class="col-sm-9">
                                        <p>
                                            <i class="bi bi-star-fill"></i> 3.5
                                        </p>
                                    </dd>
                                    
                                    <dt class="col-sm-3">Restaurant Type</dt>
                                    <dd class="col-sm-9">
                                        <p>Fast Food <b>($)</b></p>
                                    </dd>
                                    
                                    <dt class="col-sm-3">Phone Number</dt>
                                    <dd class="col-sm-9">516-517-2018</dd>

                                    <dt class="col-sm-3">Working Hours</dt>
                                    <dd class="col-sm-9">6:00AM - 12:00AM</dd>
                                </dl>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}