{% extends  "base.html" %}

{% block title %}
<title>Settings</title>
{% endblock %}

{% block body %}
{% include "nav.html" %}
<div class="container-fluid bg-dark text-white p-2">
    {% include "messages.html" %} 
    <h1>Settings</h1>
    <p>
       Current Settings 
       Distance : {{ user.profile.distance }} <br>
        Type: {{ user.profile.restaurant_type }} <br>
        Price: 
        {% if user.profile.max_price == 1 %}
        $
        {% elif user.profile.max_price == 2 %}
        $$
        {% elif user.profile.max_price == 3 %}
        $$$
        {% endif %}

    </p>
    <form method="post" id="settingsform">
        {% csrf_token %}
        <div class="border border-white p-3" style="margin-bottom: 50px;">
            <h1>Filters</h1>
            <label for="distance">Distance</label>
            <input id="distance" name="distance" type="number" placeholder="1000"/>
            <label for="type">Restaurant Type</label>
            <select id="type" name="type" form="settingsform">
                <option value="Casual Dining">Casual Dining</option>
                <option value="Fine Dining">Fine Dining</option>
                <option value="Diner">Diner</option>
                <option value="Fast Food">Fast Food</option>
                <option value="Bar">Bar</option>
                <option value="Cafe">Cafe</option>
                <option value="Food Truck">Food Truck</option>
                <option value="Buffet">Buffet</option>
                <option value="Bistro">Bistro</option>
            </select>
            <label for="pricing">Pricing</label>
            <select id="pricing" name="pricing" form="settingsform">
                <option value="1">$</option>
                <option value="2">$$</option>
                <option value="3">$$$</option>
            </select>
        </div>
        <div class="row">
            <div class="col-md-2 ml-2">
                <input type="submit" name="save" class="btn btn-success btn-rounded ml-2" value="Save Changes">
            </div>
            <div class="col-md-2">
                <a href="{% url 'home' %}"><button class="btn btn-danger btn-rounded ml-5" style="width:150px;">Cancel</button></a>
            </div>
        </div>
    </form>
</div>
{% endblock %}