{% extends "base.html" %}

{% block title %}
<title>Signup Page</title>
{% endblock %}

{% block body %}

{% if messages %}
<div class="panel-collapse collapse">
    <ul class="list-group">
        {% for message in messages %}
        <li class="list-group-item">
            {{ message }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<div class="container-xxl bg-dark mb-10">
    <h1 class="text-white text-center"><i class="bi bi-pencil-square p-1"></i>Signup Page</h1>
    <form class="text-white" method="post">
            {% csrf_token %}
            <label for="firstName">First Name</label>
            <input id="firstName" name="firstName" type="text" class="form-control" placeholder="Enter your First Name">
            <label for="lastName">Last Name</label>
            <input id="lastName" name="lastName" type="text" class="form-control" placeholder="Enter your Last Name">
            <label for="email">Email</label>
            <input id="email" name="email" type="text" class="form-control" placeholder="Enter your Email">
            <label for="username">Username</label>
            <input id="username" name="username" type="text" class="form-control" placeholder="Enter your Username">
            <label for="password1">Password</label>
            <input id="password1" name="password1" type="password" class="form-control" placeholder="Enter your Password">
            <label for="password2">Confirmation Password</label>
            <input id="password2" name="password2" type="password" class="form-control mb-3" placeholder="Please Re-enter your Password">
            <button type="submit" class="btn btn-primary btn-rounded"><i class="bi bi-door-closed-fill mr-3"></i> Sign Up!</button>
    </form>
    <p class="text-white mt-3"> Already have an account?</p>
    <a class="btn btn-success rounded mb-5" href="{% url 'login' %}"> <i class="bi bi-door-closed-fill"></i> Login</a>
</div>
{% endblock %}